/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/
/*
* ## RJH NOTES
* 
* ### Resources
* - Docs: https://zmk.dev/docs/codes
* - Key tester: https://keyboardtester.io/tester/
*
* ### Examples:
* - https://github.com/rastasheep/zmk-config/blob/master/config/corne.keymap
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define HYPER LS(LA(LCTRL))

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "Mac";
                        bindings = <
           &kp TAB   &kp Q   &kp W   &kp E   &kp R          &kp T                             &kp Y       &kp U       &kp I     &kp O      &kp P    &kp BSPC
     &mt LCTRL ESC   &kp A   &kp S   &kp D   &kp F          &kp G                             &kp H       &kp J       &kp K     &kp L   &kp SEMI     &kp SQT
         &kp LSHFT   &kp Z   &kp X   &kp C   &kp V          &kp B                             &kp N       &kp M   &kp COMMA   &kp DOT   &kp FSLH   &kp ENTER
                                             &mo 2   &mt LALT ESC   &kp LGUI      &kp SPACE   &mo 1   &kp HYPER
                        >;
                };
                
                lower_layer {
                        label = "Symbols";
                        bindings = <
     &none   &kp BSLH   &kp FSLH   &kp LBKT   &kp RBKT   &kp TILDE                       &kp PIPE   &kp EQUAL    &kp PLUS   &kp MINUS   &kp UNDER   &none
     &none   &kp LBRC   &kp RBRC   &kp LPAR   &kp RPAR   &kp GRAVE                       &kp LEFT    &kp DOWN      &kp UP   &kp RIGHT       &none   &none
     &none   &kp EXCL     &kp AT   &kp HASH   &kp DLLR   &kp PRCNT                      &kp CARET    &kp AMPS   &kp ASTRK    &kp LPAR    &kp RPAR   &none
                                                 &mo 3      &trans   &trans     &none      &trans       &none
                        >;
                };

                raise_layer {
                        label = "MedNum";
                        bindings = <
     &none        &none   &kp C_BRI_DN   &kp C_VOL_UP   &kp C_BRI_UP   &none                          &none   &kp KP_N7   &kp KP_N8   &kp KP_N9   &kp ASTRK   &none
     &none   &kp C_MUTE     &kp C_PREV       &kp C_PP     &kp C_NEXT   &none                          &none   &kp KP_N4   &kp KP_N5   &kp KP_N6    &kp PLUS   &none
     &none        &none          &none   &kp C_VOL_DN          &none   &none                          &none   &kp KP_N1   &kp KP_N2   &kp KP_N3    &kp BSLH   &none
                                                              &trans   &none   &none      &kp KP_N0   &mo 3      &trans
                        >;
                };

                dual_layer {
                        label = "Extra";
                        bindings = <
     &none   &none   &none   &none    &none   &none                              &none          &none          &none          &none   &none   &none
     &none   &none   &none   &none    &none   &none                              &none   &bt BT_SEL 3   &bt BT_SEL 4   &bt BT_SEL 5   &none   &none
     &none   &none   &none   &none    &none   &none                         &bt BT_CLR   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &none   &none
                                     &trans   &trans   &trans      &trans       &trans         &trans
                        >;
                };
        };
};